.cycle-analytics-overview
  .container
    .row
      .col-md-10.col-md-offset-1
        .row.overview-details
          .col-md-6.overview-text
            %h4 引入周期分析
            %p
              周期分析概述了在项目中从创意到生产需要多长时间。
       要设置CA，必须首先通过设置配置项来定义生产环境，然后部署到生产环境。
            %p
              %a.btn{ href: help_page_path('user/project/cycle_analytics'), target: "_blank" } 阅读更多
          .col-md-6.overview-image
            %span.overview-icon
              = custom_icon ('icon_cycle_analytics_overview')
