.panel.panel-default.project-members-groups
  .panel-heading
    可访问的组
    %strong #{@project.name}
    %span.badge= group_links.size
  %ul.content-list
    = render partial: 'shared/members/group', collection: group_links, as: :group_link
