%fieldset.builds-feature
  %h5.prepend-top-0
    合并请求
  .form-group
    .checkbox
      = f.label :only_allow_merge_if_build_succeeds do
        = f.check_box :only_allow_merge_if_build_succeeds
        %strong 如果生成成功，只允许合并请求被合并
      .help-block
        构建需要配置此功能为启用。
        = link_to icon('question-circle'), help_page_path('workflow/merge_requests', anchor: 'only-allow-merge-requests-to-be-merged-if-the-build-succeeds')
