- if @wiki_home.present?
  %div{ class: container_class }
    .wiki-holder.prepend-top-default.append-bottom-default
      .wiki
        = preserve do
          = render_wiki_content(@wiki_home)
- else
  - can_create_wiki = can?(current_user, :create_wiki, @project)
  .project-home-empty{ class: [('row-content-block' if can_create_wiki), ('content-block' unless can_create_wiki)] }
    %div.text-center{ class: container_class }
      %h4
        这个项目没有wiki主页
      - if can_create_wiki
        %p
          添加一个主页到您的wiki，其中包含有关您的项目的信息
        %p
          我们建议您向项目的wiki
          = link_to "添加首页，", namespace_project_wiki_path(@project.namespace, @project, :home)
          GitLab将在此显示它，而不是此消息。
