- issuable = local_assigns.fetch(:issuable)
- form = local_assigns.fetch(:form)
- no_issuable_templates = issuable_templates(issuable).empty?
- div_class = no_issuable_templates ? 'col-sm-10' : 'col-sm-7 col-lg-8'

%div{ class: div_class }
  = form.text_field :title, required: true, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad'

  - if issuable.respond_to?(:work_in_progress?)
    %p.help-block
      .js-wip-explanation
        %a.js-toggle-wip{ href: '', tabindex: -1 }
          从标题中删除
          %code WIP:
          前缀
        以允许在
        %strong 工作进行中
        合并请求在准备就绪时合并。
      .js-no-wip-explanation
        %a.js-toggle-wip{ href: '', tabindex: -1 }
          使用标题前缀
          %code WIP:
        以防止在
        %strong 工作进行中
        合并正在进行中的合并请求。

  - if no_issuable_templates && can?(current_user, :push_code, issuable.project)
    %p.help-block
      添加描述模板
      = link_to '描述模板', help_page_path('user/project/description_templates'), tabindex: -1
      来帮助您的贡献者有效沟通！
