%board-blank-state{ "inline-template" => true,
  "v-if" => 'list.id == "blank"' }
  .board-blank-state
    %p
      通过一次点击将以下默认列表添加到您的问题面板板：
    %ul.board-blank-state-list
      %li{ "v-for" => "label in predefinedLabels" }
        %span.label-color{ ":style" =>  "{ backgroundColor: label.color } " }
        {{ label.title }}
    %p
      开始使用默认的列表将让你在正确的方式来充分利用你的面板。
    %button.btn.btn-create.btn-inverted.btn-block{ type: "button", "@click.stop" => "addDefaultLists" }
      添加默认列表
    %button.btn.btn-default.btn-block{ type: "button", "@click.stop" => "clearBlankState" }
      忽略，我会用我自己的标记
