.build-page
  .prepend-top-default
    .autoscroll-container
      %button.btn.btn-success.btn-sm#autoscroll-button{:type => "button", :data => {:state => 'disabled'}} 启用自动滚动
    #js-build-scroll.scroll-controls
      %a.btn{href: '#build-trace'}
        %i.fa.fa-angle-up
      %a.btn{href: '#down-build-trace'}
        %i.fa.fa-angle-down
    %pre.build-trace#build-trace
      %code.bash.js-build-output
      %i.fa.fa-refresh.fa-spin.js-build-refresh

%aside.right-sidebar.right-sidebar-expanded.build-sidebar.js-build-sidebar
  .block.build-sidebar-header.visible-xs-block.visible-sm-block.append-bottom-default
    构建
    %strong #1
    %a.gutter-toggle.pull-right.js-sidebar-build-toggle{ href: "#" }
      %i.fa.fa-angle-double-right
  .blocks-container
    .dropdown.build-dropdown
      .title 阶段
      %button.dropdown-menu-toggle{type: 'button', 'data-toggle' => 'dropdown'}
        %span.stage-selection 更多
        %i.fa.fa-caret-down
      %ul.dropdown-menu
        %li
          %a.stage-item 构建
        %li
          %a.stage-item 测试
        %li
          %a.stage-item 部署
  .builds-container
    .build-job{data: {stage: 'build'}}
      %a{href: 'http://example.com/root/test-build/builds/1'}
        %i.fa.fa-check
        %i.fa.fa-check-circle-o
        %span
          构建
    .build-job{data: {stage: 'test'}}
      %a{href: 'http://example.com/root/test-build/builds/2'}
        %i.fa.fa-check
        %i.fa.fa-check-circle-o
        %span
          测试
    .build-job{data: {stage: 'deploy'}}
      %a{href: 'http://example.com/root/test-build/builds/3'}
        %i.fa.fa-check
        %i.fa.fa-check-circle-o
        %span
          部署

.js-build-options{ data: { page_url: 'http://example.com/root/test-build/builds/2',
  build_url: 'http://example.com/root/test-build/builds/2.json',
  build_status: 'passed',
  build_stage: 'test',
  state1: 'buildstate' }}

%p.build-detail-row
  附件将被删除
  %span.js-artifacts-remove
    2016-12-19 09:02:12 UTC
