%ul.nav.nav-sidebar
  %li.home.active
    %a.dashboard-shortcuts-projects
      %span
        项目
  %li
    %a
      %span
        待办事项
        %span.count.js-todos-count
        1
  %li
    %a.dashboard-shortcuts-activity
      %span
        活动
  %li
    %a
      %span
        群组
  %li
    %a
      %span
        里程碑
  %li
    %a.dashboard-shortcuts-issues
      %span
        问题
        %span
        1
  %li
    %a.dashboard-shortcuts-merge_requests
      %span
        合并请求
  %li
    %a
      %span
        代码段
  %li
    %a
      %span
        帮助
  %li
    %a
      %span
        个人资料设置
