%ul.nav-links.event-filter.scrolling-tabs
  %li.active
    %a.event-filter-link{ id: "all_event_filter", title: "全部过滤", href: "/dashboard/activity"}
      %span
        所有
  %li
    %a.event-filter-link{ id: "push_event_filter", title: "按推送事件过滤", href: "/dashboard/activity"}
      %span
        推送事件
  %li
    %a.event-filter-link{ id: "merged_event_filter", title: "按合并事件过滤", href: "/dashboard/activity"}
      %span
        合并事件
  %li
    %a.event-filter-link{ id: "comments_event_filter", title: "按评论过滤", href: "/dashboard/activity"}
      %span
        注释
  %li
    %a.event-filter-link{ id: "team_event_filter", title: "按团队过滤", href: "/dashboard/activity"}
      %span
        团队